<html>

<head>
    <title>RPG - Enemies List</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/normalize.css" />
    <link href="https://fonts.googleapis.com/css?family=Shojumaru&display=swap" rel="stylesheet">
    <meta content="RPG game for fighting other characters and monsters.">
</head>

<body>
    <header>
        <nav>
            <a href="userProfile.html">Profile</a>
            <a href="fightList.html">Fights</a>
            <a href="mainPage.html">Log out</a>
        </nav>
    </header>

    <div class="container">
        <form class="enemyContainer" method="post" action="/fight/characterFight/new" onsubmit="return createEnemyFight(); ">
            <div id="enemyTableContainer">
                <h3>Choose Enemy Character</h3>
                <table id="enemyList">
                    <thead>
                        <th> </th>
                        <th>Image</th>
                        <th>Enemy's name</th>
                        <th>Enemy's level</th>
                    </thead>
                    <tbody>
                        <% enemyList.forEach(function(character){ %>
                        <tr>
                            <td><input type="radio" name="enemy" value="<%= character.id %>"></td>
                            <td><img class="characterImageStat" src="<%= character.characterImage %>"></td>
                            <td><%= character.characterName %></td>
                            <td><%= character.level %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div><!-- enemyTableContainer end -->


            <div id="worldTableContainer">
                <h3>Choose World</h3>
                <table id="worldList">
                    <thead>
                        <th></th>
                        <th>Dificulty</th>
                        <th>World name</th>
                    </thead>
                    <tbody>
                        <% worlds.forEach(function(world){ %>
                        <tr>
                            <td><input type="radio" name="world" value="<%= world.id %>"></td>
                            <td><%= world.difficulty %></td>
                            <td><%= world.worldName %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div><!-- worldTableContainer end -->


            <div class="yourTableContainer">
                <h3>Choose Your Character</h3>
                <div class="outside1">
                    <table class="yourList">
                        <thead>
                            <th></th>
                            <th>Image</th>
                            <th>Character name</th>
                            <th>Level</th>
                            <th>Attack</th>
                            <th>Defence</th>
                            <th>Weapon</th>
                        </thead>
                        <tbody>
                            <% player.getCharacters().forEach(function(character){ %>
                            <tr>
                                <td><input type="radio" name="user" value="<%= character.id %>"></td>
                                <td><img class="characterImageStat" src="<%= character.characterImage %>"></td>
                                <td><%= character.characterName %></td>
                                <td><%= character.level %></td>
                                <td><%= character.attackPoints %></td>
                                <td><%= character.defencePoints %></td>
                                <td><%= character.id %></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div><!-- yourTableContainer end -->
            <div class="startFightContainer">
                <input type="submit" class="startFightButton" value="Fight">
                <span id="buttonError" class="error">Error place</span>
            </div>
        </form>
    </div> <!-- container end -->
    <div class="space"></div>
    <footer>By Kinga Kwiatkowska s16612 &copy;</footer>
    <script src="JS/fightMakerEnemyJS.js"></script>
</body>

</html>
