<!-- dodać opcję usuwania rekordów przy np walce z innym użytkownikiem -->


<html>

<head>
    <title>RPG - Fight List</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/normalize.css" />
    <link href="https://fonts.googleapis.com/css?family=Shojumaru&display=swap" rel="stylesheet">
    <meta content="RPG game for fighting other characters and monsters.">
</head>

<body>
    <header>
        <nav>
            <a href="/player/<%= player.id %>">Profile</a>
            <a href="/fight">Fights</a>
            <a href="/login">Log out</a>
        </nav>
    </header>

    <div class="container creationCWContainer">

        <div class="tableContainer">
            <h2>Last Users Fights</h2>
            <table id="fightsList">
                <thead>
                    <th>Character's name</th>
                    <th>Enemy's name</th>
                    <th>Options</th>
                </thead>
                <tbody>
                    <% enemyFights.forEach(function(fight){ %>
                    <tr>
                        <td><%= fight.you.characterName %></td>
                        <td><%= fight.enemy.characterName %></td>
                        <td>
                            <div class="statisticsCheck">
                                <a class="fightOptions">Details</a><span class="tooltiptext">
                                    Date of fight: <%= fight.fightDate.toISOString().slice(0,10) %> <br>
                                    Result: <%= fight.result %> <br>
                                </span>
                            </div>
                            <a class="fightOptions" href="/fight/delete?fight_id=<%= fight.id %>">Delete</a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <a class="newFightButton" href="fight/characterFight">New Fight</a>
        </div><!-- tableContainer end -->


        <div class="tableContainer">
            <h2>Monster Fights</h2>
            <table id="monsterFightsList">
                <thead>
                    <th>Name</th>
                    <th>Monster Name</th>
                </thead>
                <tbody>
                    <% monsterFights.forEach(function(mFight){ %>
                    <tr>
                        <td><%= mFight.you.characterName %></td>
                        <td><%= mFight.monster.monsterName %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>

            <a class="newFightButton" href="/fight/monsterFight">New Fight</a>
        </div><!-- tableContainer end -->


    </div> <!-- container end -->
    <div class="space"></div>
    <footer>By Kinga Kwiatkowska s16612 &copy;</footer>
    <script src="JS/fightListJS.js"></script>
</body></html>
