<html>

<head>
    <title>RPG - Fight</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/normalize.css" />
    <link href="https://fonts.googleapis.com/css?family=Shojumaru&display=swap" rel="stylesheet">
    <meta content="RPG game for fighting other characters and monsters.">
</head>

<body>
    <header>
        <nav>
            <a href="/player/<%= player.id %>">Profile</a>
            <a href="/fight">Fights</a>
            <a href="/login">Log out</a>
        </nav>
    </header>

    <div class="container">
        <h2>Result message</h2>
        <div id="resultScreen">

            <p>Statistics:</p>
            <p>Your character <%= fight.you.characterName %> fought with <%= fight.enemy.characterName %> in <%= fight.world.worldName %>.</p>
            <p>Your character <em><%= fight.result %></em></p>
        </div><!-- resultScreen end -->
        <div id="buttons">
            <button id="likeWorld" onclick="like" >&hearts; Like a world</button>

            <a class="newFightButton" href="/fight">New Fight</a>
        </div>
    </div> <!-- container end -->
    <div class="space"></div>
    <footer>By Kinga Kwiatkowska s16612 &copy;</footer>
    <script src="JS/fightJS.js"></script>
</body>

</html>
