<html>

<head>
    <title>RPG - Monster List</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/normalize.css" />
    <link href="https://fonts.googleapis.com/css?family=Shojumaru&display=swap" rel="stylesheet">
    <meta content="RPG game for fighting other characters and monsters.">
</head>

<body>
    <header>
        <nav>
            <a href="userProfile.html">Profile</a>
            <a href="fightList.html">Fights</a>
            <a href="mainPage.html">Log out</a>
        </nav>
    </header>

    <div class="container">
        <form class="enemyContainer" method="post" action="monsterFight/new" onsubmit="return createMonsterFight();">
            <div id="monsterTableContainer">
                <h3>Choose Monster</h3>
                <div class="outside1">
                    <table id="monsterList">
                        <thead>
                            <th> </th>
                            <th>Image</th>
                            <th>Monster's name</th>
                            <th>Monster's level</th>
                        </thead>
                        <tbody>
                            <% monsterList.forEach(function(monster){ %>
                            <tr>
                                <td><input type="radio" name="monster" value="<%= monster.id %>"></td>
                                <td><img class="monsterFightImage" src="<%= monster.monsterImage %>" alt="Monster image"></td>
                                <td><%= monster.monsterName %></td>
                                <td><%= monster.level %></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div><!-- monsterTableContainer end -->


            <div class="yourTableContainer">
                <h3>Choose Your Character</h3>
                <div class="outside1">
                    <table class="yourList">
                        <thead>
                            <th></th>
                            <th>Image</th>
                            <th>Character name</th>
                            <th>Level</th>
                            <th>Attack</th>
                            <th>Defence</th>
                            <th>Weapon</th>
                        </thead>
                        <tbody>
                            <% player.getCharacters().forEach(function(character){ %>
                            <tr>
                                <td><input type="radio" name="user" value="<%= character.id %>"></td>
                                <td><img class="characterImageStat" src="<%= character.characterImage %>"></td>
                                <td><%= character.characterName %></td>
                                <td><%= character.level %></td>
                                <td><%= character.attackPoints %></td>
                                <td><%= character.defencePoints %></td>
                                <td> 
                                <% if (character.weapon == null) { %>
                                none
                                <% }else { %>
                                <%= character.weapon.weaponName %>
                                <% } %></td>
                            </tr>
                            <% }) %>
                            
                        </tbody>
                    </table>
                </div>
            </div><!-- yourTableContainer end -->

            <div>
                <input type="submit" class="startFightButton" value="Fight">
                <span id="buttonError" class="error">Error place</span>
            </div>
        </form>
    </div> <!-- container end -->
    <div class="space"></div>
    <footer>By Kinga Kwiatkowska s16612 &copy;</footer>
    <script src="JS/fightMakerMonsterJS.js"></script>
</body>

</html>
