<html>

<head>
    <title>RPG - Create Character</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/normalize.css" />
    <link href="https://fonts.googleapis.com/css?family=Shojumaru&display=swap" rel="stylesheet">
    <meta content="RPG game for fighting other characters and monsters.">
</head>

<body>
    <header>
        <nav>
            <a href="/player/<%= player.id %>">Profile</a>
            <a href="/fight">Fights</a>
            <a href="/login">Log out</a>
        </nav>
    </header>

    <h2 class="creationHeader">Character Creation</h2>

    <div class="container">
        <form class="creationForm" method="post" 
              <% if (character == null) { %> 
                 action="/creation/character/post" 
                 <% }else { %> 
                 action="/creation/editCharacter/post?character_id=<%= character.id %>"
                 <% } %> onsubmit="return createCharacter();">
            <div class="creationSheet">

                <label>Character's Name <input name="charName" id="charName" type="text" 
                 <% if (character == null) { %> 
                 value="" 
                 <% }else { %> 
                 value="<%= character.characterName %>" 
                 <% } %>>
                    <span id="nameError" class="error">Error place</span></label>
                <label>Character's Species <input name="charSpecies" id="charSpecies" type="text" 
                <% if (character == null) { %> 
                value="" 
                <% }else { %> 
                value="<%= character.species %>" 
                <% } %>>
                    <span id="speciesError" class="error">Error place</span></label>
                <label>Character's Image (URL) <input name="charImage" id="charImage" type="text" 
                <% if (character == null) { %> 
                value="" 
                <% }else { %> 
                value="<%= character.characterImage %>"
                <% } %>><span id="imageError" class="error">Error place</span></label>
                <label id="dateLabel">Date of creation <input name="charDate" id="charDate" type="text" placeholder="mm-dd-rrrr" 
                <% if (character == null) { %> 
                value="" 
                <% }else { %> 
                value="<%= character.returnDate() %>"
                <% } %>>
                    <span id="dateError" class="error">Error place</span></label>

                <input type="submit" value="Create" class="createButton creationButton">
                <span id="buttonError" class="error">Error place</span>

            </div>

            <div class="creationSheet">
                <h3 id="characterPointsToAdd">
                    <% if (character == null) { %>
                    <span id="pointsLeft">20</span> POINTS LEFT
                    <% }else { %>
                    <span id="pointsLeft">0</span> POINTS LEFT
                    <% } %>
                </h3>
                <span id="pointsError" class="error">Error place</span>
                <a class="down" onclick="downAttack(); return false;"><span class="arrow">&larr;</span></a>
                <input name="attackPoints" id="attackPoints" placeholder="0" 
                    <% if (character == null) { %>
                    value="0" 
                    <% }else { %>
                    value="<%= character.attackPoints %>" 
                    <% } %> disabled>
                <a class="up" onclick="upAttack(); return false;"><span class="arrow">&rarr;</span></a>
                <h5>Attack Points</h5>
                <br>
                <a class="down" onclick="downDefence(); return false;"><span class="arrow">&larr;</span></a>
                <input name="defencePoints" id="defencePoints" placeholder="0" 
                    <% if (character == null) { %>
                    value="0" 
                    <% }else { %>
                    value="<%= character.defencePoints %>"
                    <% } %> disabled>
                <a class="up" onclick="upDefence(); return false;"><span class="arrow">&rarr;</span></a>
                <h5>Defence Points</h5>

                <label>Weapon
                    <select id="weaponSelect" name="weapon">
                        <% if (character != null && character.weapon != null) { %>
                        <option value="<%= character.weapon.id %>" selected><%= character.weapon.weaponName %> </option>
                    <% }else { %>
                        <option value="0" selected></option>
                        <% } %>
                        <% weapons.forEach(function(weapon){ %>
                            <option value="<%= weapon.id %>" ><%= weapon.weaponName %></option>
                        <% }) %>
                    </select></label>
            </div>

        </form>

    </div> <!-- container end -->
    <div class="space"></div>
    <footer>By Kinga Kwiatkowska s16612 &copy;</footer>
    <script src="/JS/charCreateJS.js"></script>
</body>

</html>
